<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		
		

		<style>
			.table td, .table th { 
				text-align: left; 
			}
			body {
			text-shadow: none;
			font-size: 12px;
			}

			.btn {
				font-size: 12px;
			}
			.dropdown-menu{
			    font-size: 12px;

			}
			.form-control {
				font-size: 12px;
			}
		</style>
	</head>

	<body>

		<div class="container">
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link active" href="/index">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"  href="/api" target="_blank">Api</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Contact</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Disabled</a>
				</li>
			</ul>
			</br>

			<div class="col-md-6" style="text-align: left;" >
				<h4>
					Galera Identification
				</h4>
				<tr>
					<!-- Node: {{.NodeName}}</br> -->
				</tr>
				</br>
			</div>

			<div class="col-md-10" style="text-align: left;" >
				<h4>
					Details
				</h4>

				<table style="width:100%">
				<tr>
					<th> WSREP </th>
					<th> Dist </th>
					<th> Status </th>
					<th> Avg </th>
					<th> Latency </th>
				</tr>
				<!-- {range .Networking}} -->
				<tr>
				<!-- 	<td>
						{{.WsrepStatus}}
					</td>
					<td>
						{{.Dist}}
					</td>
					<td>
						{{.Status}}
					</td>
					<td>
						{{.AvgQueue}}
					</td>
					<td>
						{{.Latency}}
					</td> -->
				</tr>
<!-- 				{{end}}
 -->				</table>
				</br>
			</div>

			
			</br>
			<footer class="footer">
	      		<div class="container">
	        		<span class="text-muted">Made by Somebody.</span>
	      		</div>
   			</footer>
		</div>	
	</body>
</html>
